.nav {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #333;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  .innerNav {
    max-width: 800px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    h1 {
      margin: 0;
      margin-left: 10px;
      font-size: 1rem;
      display: flex;
      align-items: center;
    }
    .list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      li {
        color: #fff;
        font-weight: bold;
        &:hover {
          color: #ffcd65;
          cursor: pointer;
        }
      }
    }
  }
  .logoContainer {
    display: flex;
    cursor: pointer;
    height: 80px;
    align-items: center;
    .square {
      background-color: #ffcd65;
      width: 30px;
      height: 30px;
      border-radius: 5px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    width: 100%;
    .innerNav {
      width: 90%;
      margin: auto;
    }
  }
}
