@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #191919;
  color: #FFF;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #337ea9;
}

p, li {
  line-height: 2;
  opacity: 0.81;
}

h2 {
  font-size: 32px;
  margin: 40px 0 30px;
}

* {
  box-sizing: border-box;
}


.blue {
  color: #337ea9;
}

.yellow {
  color: #ffcd65;
}