.container {
  max-width: 960px;
  width: 100%;
  margin: auto;
  img {
    width: 100%;
  }
}

.articleContainer {
  max-width: 800px;
  margin: auto;
}

.cta {
  font-style: italic;
  font-weight: 100;
  font-size: 1em;
  margin: 20px;
  text-align: center;
}

.entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.back {
  &:hover {
    color: #ffcd65;
  }
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 100%;
  max-width: 800px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: auto;
  }
}
