.container {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.back {
  &:hover {
    color: #ffcd65;
  }
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 100%;
  max-width: 800px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: auto;
  }
}
